/* 
==================================================
                    prelimineries
==================================================
*/
:root {
  --primary-color:#ffb600;
  --color1:#252525;
  --color2:#212121;
  --color3:#555555;
  --color4:#333333;
  --white:#ffffff;
  --black:#000000;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button[type="submit"],
button[type="reset"] {
  cursor: pointer;
}

/* 
  ==================================================
                      re-usable components
  ==================================================
  */
.section-title h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

/* 
  ==================================================
                      Header CSS
  ==================================================
  */
.header-top {
  background-color: #ebebeb;
  padding: 10px 0;
}

.header-top .header-top-contents address {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  color: var(--color3);
}

.header-top .header-top-contents address .fa-location-dot {
  font-size: 18px;
  margin-right: 5px;
}

.header-top .header-top-contents .social-links ul li {
  margin-left: 25px;
}

.header-top .header-top-contents .social-links ul li a {
  font-size: 16px;
  color: #2c2c2c;
  padding: 5px;
}

.header-top .header-top-contents .social-links ul li a:hover {
  color: var(--color3);
}

header {
  background: #23282d;
}

header .header-contact {
  background: var(--white);
}

header .header-contact .header-contact-contents {
  padding: 25px 0;
}

header .header-contact .header-contact-contents .logo img {
  width: 60%;
}

header .header-contact .header-contact-contents .contact-items ul li {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

header .header-contact .header-contact-contents .contact-items ul li:last-child {
  padding: 0;
  margin: 0;
  border: 0;
}

header .header-contact .header-contact-contents .contact-items ul li:last-child a {
  font-size: 14px;
  padding: 12px 30px;
  border-radius: 3px;
  background: var(--primary-color);
  color: var(--white);
  font-weight: 700;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

header .header-contact .header-contact-contents .contact-items ul li:last-child a:hover {
  background: #23282d;
  color: var(--primary-color);
}

header .header-contact .header-contact-contents .contact-items ul li a, header .header-contact .header-contact-contents .contact-items ul li h4 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #111111;
  font-family: 'Open-Sans',sans-serif;
}

header nav ul li {
  padding-right: 30px;
}

header nav ul li a {
  padding: 15px;
  color: var(--white);
  font-family: 'Montserrat',sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

/* 
  ==================================================
                      Banner CSS
  ==================================================
*/
.banner .bannerSwiper {
  height: 90vh;
}

.banner .bannerSwiper .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner .bannerSwiper .banner-content h2 {
  font-size: 30px;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  margin: 20px 0 10px;
}

.banner .bannerSwiper .banner-content h4 {
  color: var(--white);
  font-family: 'Open-Sans',sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin: 20px 0 10px;
}

.banner .bannerSwiper .banner-content .buttons {
  margin-top: 30px;
}

.banner .bannerSwiper .banner-content .buttons a {
  margin: 0 10px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--white);
  background-color: var(--primary-color);
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.banner .bannerSwiper .banner-content .buttons a:hover {
  background: #cc9200;
}

.banner .bannerSwiper .banner-content .buttons a:last-child {
  background: none;
  border: 1px solid var(--primary-color);
}

.banner .bannerSwiper .banner-content .buttons a:last-child:hover {
  background: #cc9200;
}

.banner .slider-button {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.banner .slider-button button {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0 20px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.banner .slider-button button span {
  display: inline-block;
  font-size: 25px;
  color: var(--white);
}

.banner .slider-button button:hover {
  background: var(--primary-color);
}

.banner:hover .slider-button {
  visibility: visible;
  opacity: 1;
}

/* 
  ==================================================
                      Call to action CSS
  ==================================================
*/
.call-to-action {
  z-index: 9;
  margin-top: -70px;
}

.call-to-action .content-box {
  padding: 30px 20px;
  background: var(--primary-color);
}

.call-to-action .content-box h4 {
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--white);
  font-weight: 700;
}

.call-to-action .content-box a {
  font-family: 'Montserrat',sans-serif;
  padding: 10px 20px;
  background: #23282d;
  color: var(--white);
  font-weight: 600;
}

.call-to-action .content-box a:hover {
  background: var(--color1);
}

/* 
  ==================================================
                      About CSS
  ==================================================
*/
.about {
  padding: 70px 0;
}

.about h4 {
  color: var(--color3);
  font-weight: 300;
}

.about span {
  font-size: 35px;
  color: var(--primary-color);
}

/* 
  ==================================================
                      Statistic CSS
  ==================================================
*/
.statistics {
  background: var(--color1);
  padding: 50px 0;
}

.statistics .statistic-item h5 {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  font-size: 48px;
  font-weight: 700;
}

.statistics .statistic-item h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}

/* 
  ==================================================
                      What we do CSS
  ==================================================
*/
.services {
  padding: 70px 0 0;
}

.services .section-title {
  margin-bottom: 50px;
}

.services .service-item .service-img {
  width: 30%;
}

.services .service-item .service-info a {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--color2);
}

.services .service-item .service-info a:hover {
  color: var(--primary-color);
}

/* 
  ==================================================
                      What we do CSS
  ==================================================
*/
.projects {
  background: #f9f9f9;
  padding: 80px 0;
}

.projects .gallery-container {
  text-align: center;
}

.projects .gallery-container .view-all-btn {
  padding: 12px 15px;
  background: var(--primary-color);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.projects .gallery-container .view-all-btn:hover {
  background: var(--black);
}

.projects .gallery-btn-group {
  margin: 0 50px;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 30px;
}

.projects .gallery-btn-group button {
  background: none;
  font-size: 14px;
  font-weight: 700;
  color: var(--color2);
  padding: 10px 25px;
}

.projects .gallery-btn-group .mixitup-control-active {
  background: var(--primary-color);
}

.projects .gallery-image {
  z-index: 9;
}

.projects .gallery-image::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  z-index: 99;
}

.projects .gallery-image img {
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.projects .gallery-image > a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  top: 0;
  right: 0;
  background: var(--primary-color);
  color: var(--white);
  font-size: 20px;
  z-index: 999;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.projects .gallery-image .project-info {
  text-align: left;
  padding: 0 30px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  top: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
  z-index: 999;
}

.projects .gallery-image .project-info a {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.projects .gallery-image .project-info a:hover {
  color: var(--primary-color);
}

.projects .gallery-image .project-info h4 {
  font-size: 12px;
  background: var(--primary-color);
  color: var(--color2);
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 10px;
}

.projects .gallery-image:hover::before {
  opacity: 1;
}

.projects .gallery-image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects .gallery-image:hover .project-info {
  opacity: 1 !important;
  visibility: visible !important;
  top: 55%;
}

.projects .gallery-image:hover > a {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* gallery lightbox custom css */
.lb-nav a.lb-prev {
  width: 30%;
}

.lb-nav a.lb-next {
  width: 30%;
}

.lb-nav a.lb-next {
  background: url(../images/next.png);
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 1;
}

.lb-nav a.lb-prev {
  background: url(../images/prev.png);
  background-repeat: no-repeat;
  background-position: center left;
  opacity: 1;
}

.lb-data .lb-close {
  background: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* 
  ==================================================
                      Testimonial CSS
  ==================================================
*/
.testimonial {
  padding: 80px 0;
}

.testimonial .section-title h2 {
  font-size: 26px;
  font-weight: 600;
}

.testimonial .swiper-slide > p {
  position: relative;
  padding: 0 60px;
  font-family: 'Open-Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
}

.testimonial .swiper-slide > p::before {
  position: absolute;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 40px;
  left: 0;
  top: 0;
  margin-right: 40px;
  font-weight: 700;
  color: #ffc009;
}

.testimonial .swiper-slide .client {
  padding: 0 50px;
}

.testimonial .swiper-slide .client img {
  border-radius: 10px;
}

.testimonial .swiper-slide .client h4 {
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-color);
}

.testimonial .client-part .client-logo {
  min-height: 105px;
  padding: 20px;
  border: 1px solid #dadada;
}

.testimonial .client-part .client-logo a {
  text-align: center;
}

.testimonial .client-part .client-logo a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.testimonial .client-part .client-logo img {
  width: 75%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
/*# sourceMappingURL=style.css.map */