

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.montserrat-400{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.montserrat-500{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.montserrat-600{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.montserrat-700{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.montserrat-800{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.montserrat-900{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
  .open-sans-400{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.open-sans-500{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.open-sans-600{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.open-sans-700{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.open-sans-800{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h1{
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
}

h2{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--color2);
}
h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color2);
}
p{
    font-size: 14px;
    line-height: 25px;
    font-family: 'Open-Sans',sans-serif;
    color: var(--color3);
}